.carousel .carousel-navigation.is-overlay .carousel-nav-left, .carousel .carousel-navigation.is-overlay .carousel-nav-right {
  	width: 50px;
  	height: 1000px;
  	background: rgba(0, 0, 0, 0.07);
  	color: #fff;
}

.icon-carousel {
	height: 40px;
	width: 40px;
}

.carousel {
	position: relative;
	z-index: 0;
}