// Importing variables
@import './variables';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import 'bulma';
@import '~bulma-carousel/dist/css/bulma-carousel';
@import './fonts';
@import './global';
@import './carousel';

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: $cashbac-primary;

}

.navbar {
	a {
		color: $cashbac-primary;
	}
}

.navbar-item {
	font-weight: bold;
	font-size: 12px;
}

#navbar-business {
	.navbar-menu {
    background-color: $cashbac-primary;
	}

	a {
		color: white;
	}
	.is-transparent {
	background-color: $cashbac-primary;
	}
}

#privacypage,#termspage,#faqpage {
	padding: 1.5rem 1.5rem;	
	h3 {
		font-size: 16px;
		font-weight: 700;
		color: $cashbac-primary;
		padding-top: 1rem;
	}
	ol {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
			margin-left: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
			list-style-type: decimal;
		}
	}

	ol.list-pointer {
		li {
			list-style-type: square;
			} 
	}


}




	.faq {
		color: $cashbac-primary;
		font-weight: bold;
		font-size: 18px;
	}



#features.section {
	background-color: white;
	padding-top: 4rem;
	padding-bottom: 4rem;
	figure {
		justify-content: center;
		align-items: top;
		display: flex;
		height: 190px;
	}
	h5 {
		color: $cashbac-primary;
	}
	p {
		font-size: 12px;
	}
}

#business-features.section {
	padding-top: 3rem;
	padding-bottom: 6rem;
	.subtitle {
		display: block;
		margin-top: 20px;
	}
	figure {
		justify-content: center;
		align-items: center;
		display: flex;
		min-height: 130px;
		height: auto;
	}
}

#videos.section {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

#videos {
	.video-container {
		overflow: hidden;
		border-radius: 30px
	}
}

#works.section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	p.subtitle.is-6 {
		line-height: 1.7;
		}
	h3.title.is-6 {
		padding-bottom: 10px;
	}

}

#merchants {
	figure {
		justify-content: center;
		align-items: center;
		display: flex;
		height: 120px;
	}
	
	.section {
		padding-top: 6rem;
		padding-bottom: 4rem;
	}
}

#featured-merchants.section {
	padding-top: 5rem;
	padding-bottom: 6rem;
	.title {
		margin-bottom: 30px;
	}
}

#featured-logo {
}

#quotes.section {
	p {
		font-size: 17px;
	}

	h5 {
		font-size: 18px;
	}

	figure {
		justify-content: center;
		align-items: top;
		display: flex;
		height: auto;
		min-height: 170px;
		.media .box {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

	}

	img {
		height: 120px;
		width: 120px;

	}
	
	padding-top: 3rem;
	padding-bottom: 6rem;
}

#businessform.section {

	padding-top: 6rem;
	padding-bottom: 6rem;
	.box {
		width: 500px;
		box-shadow-size: 10px 10px 10px 10px;
		display: block;
		border: 0;
		padding: 3rem 3rem 3rem 3rem;
	label {
		text-align: left;

		}
	}
}

#mc_embed_signup .button {
	background-color: $cashbac-primary;
	content-align: center;

}



.gradientBg {
	display: flex;
	background: linear-gradient(277deg, #63c7c5, #5c8cc9 75%, #6273b7);
}

#hero-homepage {
	background: url('../images/slider/hero-cashbac-bg.jpg');
	height: 100%;
	min-height: 720px;
	position: relative;
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;

  	.hero-title-homepage {
  		color: white;
		font-size: 70px;
		margin-top: 170px;
		width: 900px;
		text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  	}

	.hero-subtitle-homepage {
  		color: white;
		font-size: 20px;
		margin-top: 30px;
		width: 900px;
		text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  	}

}


.hero {
	height: 100%;
	min-height: 720px;
	position: relative;
	background: url('../images/slider/cashbac-business-hero.png');
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.hero-text-title {
	color: white;
	font-size: 40px;
	margin-top: 170px;
}

.hero-text-subtitle {
	color: white;
	font-size: 18px;
}


#business-hero-desktop {
	margin-left: 120px;
	button {
		margin-left: 120px;
	}

}

.hero-text-title-desktop {
	color: white;
	font-size: 55px;
	width: 500px;
	bottom: 0;
	margin-top: 250px;
	margin-left: 120px;	

}

.hero-text-subtitle-desktop {
	color: white;
	font-size: 26px;
	width: 450px;
	padding-top: 30px;
	margin-left: 120px;
}

.cta-business {
	margin-left: 120px;
	a {
		color: white;
	}
}

.cta-business-mobile {
	a {
		color: white;
	}
}



.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero-404 {
	.title{
		color: white;
		font-size: 100px;
		width: 450px;
		word-wrap: break-all;
		margin-bottom: 30px;
	}
	.subtitle {
		display: block;
		font-size: 40px;
		width: 600px;
		word-wrap: break-all;
		margin-bottom: 20px;
		color: white;
	}
	
	color: white;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	position: absolute;
	z-index: 0;

}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}




.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	article {
	margin-top: 10px;
	}
	b {
		color: $cashbac-primary;

	}

	a {
		color: black;
	}
	a:hover {
		color: $cashbac-primary;
	}
}

.cashbac-logo-footer {
	height: 2rem;
	margin-bottom: 0.5rem;
}

.icon-footer {
	height: 100%;
	width: 1.5rem;
	margin-right: 15px;
	color: $cashbac-primary;
}

.icon-footer:hover {
  -webkit-transform: scale(1.20, 1.20);
  transform: scale(1.20, 1.20);
}


.box {
	position: relative;
	display: flex;
	border: 0px solid #ffffff;
	background-color: #fff;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.box::after {
  content: "";
  border: none;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.box:hover::after {
  opacity: 1;
}

#logo-merchant {
	width: 130px;
	margin-right: 25px;
}


.icon-feature {
	height: 2rem;
	width: 2rem;
	margin-bottom: 5px;
	color: $cashbac-primary;
}

.business-icon-feature {
	height: 5rem;
	width: 5rem;
	margin-bottom: 5px;

}

.screens {
	position: relative
}

.screens .screen {
	position: absolute;
	left: 50%;
	width: 60%;
	height: 100%;
	max-width: 380px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%);
	transition: all 688ms ease
}

.screens .screen img {
	transform: translateY(5%);
	transition: all 688ms ease
}

.screens .screen.is-active {
	opacity: 1;
	visibility: visible
}

.screens .screen.is-active img {
	transform: translateY(0)
}

.vertical-tabs {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 2rem;
	max-width: 520px;
	line-height: 2.9;
}

.vertical-tabs:before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 4px;
	border-radius: 99em;
	background-color: #f3f3f9;
	content: "";
}

.vertical-tabs .tab {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 86ms;
	will-change: opacity;
	transition-duration: 86ms
}

.vertical-tabs .tab:before {
	position: absolute;
	top: -2px;
	left: -2rem;
	bottom: -2px;
	width: 4px;
	border-radius: 99em;
	background-color: $cashbac-primary;
	content: "";
	opacity: 0;
	transition-duration: 172ms
}

.vertical-tabs .tab+.tab {
	margin-top: 2rem
}

.vertical-tabs .tab:hover,
.vertical-tabs .tab.is-hovered,
.vertical-tabs .tab:focus,
.vertical-tabs .tab.is-focused,
.vertical-tabs .tab:active,
.vertical-tabs .tab.is-active,
.vertical-tabs .tab .is-touched {
	opacity: 1
}

.vertical-tabs .tab.is-active {
	opacity: 1
}

.vertical-tabs .tab.is-active:before {
	opacity: 1;
}

.app-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh
}

.app-content {
	-ms-flex: 1;
	flex: 1;
	counter-reset: stories
}

.is-visually-hidden {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.spacer {
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	background: none;
	border: none
}

.spacer.is-line {
	height: 1px;
	margin: 1rem 0;
	background-color: #d9d9ec
}

.spacer.is-centered {
	margin-left: auto;
	margin-right: auto
}

.spacer.is-05 {
	height: 0.5rem
}

.spacer.is-1 {
	height: 1rem
}

.spacer.is-1-5 {
	height: 1.5rem
}

.spacer.is-2 {
	height: 2rem
}

.spacer.is-2-5 {
	height: 2.5rem
}

.spacer.is-3 {
	height: 3rem
}

.spacer.is-3-5 {
	height: 3.5rem
}

.spacer.is-4 {
	height: 4rem
}

.spacer.is-4-5 {
	height: 4.5rem
}

.spacer.is-5 {
	height: 5rem
}

.spacer.is-5-5 {
	height: 5.5rem
}

.spacer.is-6 {
	height: 6rem
}

.spacer.is-horizontal {
	display: inline-block
}

.spacer.is-horizontal.is-05 {
	width: 0.5rem
}

.spacer.is-horizontal.is-1 {
	width: 1rem
}

.spacer.is-horizontal.is-1-5 {
	width: 1.5rem
}

.spacer.is-horizontal.is-2 {
	width: 2rem
}

.spacer.is-horizontal.is-2-5 {
	width: 2.5rem
}

.spacer.is-horizontal.is-3 {
	width: 3rem
}

.spacer.is-horizontal.is-3-5 {
	width: 3.5rem
}

.spacer.is-horizontal.is-4 {
	width: 4rem
}

.spacer.is-horizontal.is-4-5 {
	width: 4.5rem
}

.spacer.is-horizontal.is-5 {
	width: 5rem
}

.spacer.is-horizontal.is-5-5 {
	width: 5.5rem
}

.spacer.is-horizontal.is-6 {
	width: 6rem
}

::-moz-selection {
	background: rgba(131, 191, 230, 0.94)
}

::selection {
	background: rgba(131, 191, 230, 0.94)
}

::-moz-selection {
	background: rgba(131, 191, 230, 0.94)
}



// media screen 768
@media screen and (max-width: 768px) {
	.screens {
		display: none
	}

	.vertical-tabs:before {
		background-color: $cashbac-primary;
	}

	.vertical-tabs .tab {
		opacity: 1;
	}

	#merchants .is-flex-mobile {
		width: 100%;
		flex-wrap: wrap;

		.is-parent {
			width: 30%;
		}
	}
}

// media query 1088px
@media screen and (min-width: 1088px) {
	.screens .screen {
		max-width: 460px
	}
}