// VARIABLES
$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$cashbac-primary: #26ade4;
$cashbac-color1: #63c7c5;
$cashbac-color2: #5c8cc9;
$cashbac-color3: #6273b7;
$cb-body-color: #2E2E2E;

$font-fam:'Open Sans', sans-serif;

// re-write variable bulma
// font family
$family-sans-serif: 'Open Sans', sans-serif, arial;

// font size